.nav {
  height: auto;
  background-color: $darker;
  background: linear-gradient(to right, #FF4E50, #F9D423);
  color: $dark;
  width: 100%;
  border: 0;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
@include m-tablet {
  .nav {
    padding: 10px;
  }
}
.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  @include m-laptop {
    justify-content: center;
  }
}

.nav__section {
  display: flex;
  align-items: center;

  @include m-mobile {
    width: 100%;
    justify-content: center;
  }
}
.nav__logo__text {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $yellow;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

@include m-mobile {
  .nav__logo__text {
    font-size: 18px;
    margin-top: 10px;
  }
  .nav__menu__item__title{
    padding: 10px !important;
  }
}

.nav__menu{
  display: flex;
  list-style: none;
  position: relative;
  &__item{
    padding: 1.2rem 0;
    @include m-mobile{
      padding: .5rem 0;
    }
    &__title{
      text-transform: capitalize;
      color: #ffff;
      padding: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        color: #FDF50E;
      }
    }
    &:hover .nav__menu__item__dropdown{
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
    &__dropdown{
      transition: all .5s ease-in-out;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      color: #ffff;
      top: 140%;
      left: 0;
      width: 100%;
      background-color: #222222b0;
      padding: 5px 0;
      z-index: 50;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .nav__dropdown__item{
        padding: 5px 10px;
        list-style: none;
        a{
          padding: 5px 30px;
          text-transform: capitalize;
          color: #ffff;
          text-decoration: none;
          display: block;
          font-weight: bold;
          border: 1px solid #22222200; 
          border-radius: 5px;
          &:hover{
            border: 1px solid #FF4E50;
          }
        }
      }
    }
  }
}